@model IEnumerable<Core.ViewModels.ReaderModeratorViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("GetProfileForModerator", "Reader", new { id = item.Id })">@Html.DisplayFor(modelItem => item.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if(!item.IsBanned)
                {
                    Html.ActionLink("Ban", "Ban", new { id = item.Id });
                }
                else
                {
                    Html.ActionLink("Unban", "Unban", new { id = item.Id });
                }
            </td>
        </tr>
    }
</table>
