@model IEnumerable<Core.ViewModels.ReaderModeratorViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Ban", "Ban", new { id = item.Id }) |
                @Html.ActionLink("Unban", "Unban", new { id = item.Id })
            </td>
        </tr>
    }
</table>
