@model IEnumerable<Core.ViewModels.SearchBookViewModel>
<div class="container">
    @using (Html.BeginForm("BookSearch", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <input type="text" name="query" />
        <input class="btn-success" type="submit" value="Search" />
    }
    <div id="results">
        @if (Model.Count() == 0 && ViewBag.Flag == "False")
        {
            <div>There are no books for your request.</div>
        }
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="well">
                    <span class="pull-right">
                        <img src="~/File?id=@item.Image.FileId" width="200" height="150" alt="avatar" />
                    </span>
                    <h3>
                        <strong><a href="@Url.Action("Book", "Book", new { id = item.Id })">@item.Title</strong>

                    </h3>

                    <span class="lead"> @item.Language</span>
                    <span class="lead"><br> @item.YearOfPublication</span>
                    <span class="lead"> <br>@item.Edition</span>
                    <span class="lead"> <br>@item.Author.Name @item.Author.Surname</span>
                </div>
            }
        }
    </div>
</div>