@model Core.ViewModels.AuthorModeratorProfileViewModel

<div class="container">
    <h2>Profile</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            @if (Model.Avatar != null)
            {
                <dt>
                    Avatar
                </dt>
                <dd>
                    <img src="~/File?id=@Model.Avatar.FileId" alt="avatar" />
                </dd>
            }
            <dt>
                <dd>Comments</dd>
                @foreach (var item in Model.Comments)
                {
                <dd>
                    @item.Book.Title, @item.Text, @item.PostTime
                </dd>
                }


                <dd>Books</dd>
                @foreach (var item in Model.Books)
                {
                    <dd>
                        <a href="@Url.Action("GetBookForModerator", "Book", new { id = item.Id })">@item.Title</a>
                    </dd>
                }
                <dd>
                    @if (!Model.IsBanned)
                    {
                        <a href="@Url.Action("Ban", "Moderator", new { id = Model.Id })">Ban</a>
                    }
                    @if(Model.IsBanned)
                    {
                        <a href="@Url.Action("Unban", "Moderator", new { id = Model.Id })">Unban</a>
                    }
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Back To List", "Index", "Moderator")
        </p>
    </div>
